html,
body,
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-size: 62.5%; 
}
:root{
  /*darkmode palette*/
  --dark3: #192C30;
  --dark1:#192C30;
  --dark2:#76715C;
  --dark4:#DD713F;
  --darkbg: url('../css/img/darkbg5.jpg');

  /*lightmode palette*/
  --light1:#F0F4FFff;
  --light2: #B4C1D2ff;
  --light3:#5F7D88;
  --light4: #F0F4FFff;
  --light5: #F0F4FFff;
  --lightbg: url('../css/img/pexels-johannes-plenio-1103970.jpg');

  /* Intentions 
  can use primary-textColor: to define main text color of the theme*/
--primary: var(--ivory);
--secondary: var(--olive);

  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.light{
  --primary: var(--light4);
  --secondary: var(--light2);
  --third:var(--light3);
  --fourth: var(--light5);
  --bg: var(--lightbg);
}
.dark{
  --primary: var(--dark4); 
  --secondary: var(--dark2);
  --third: var(--dark1);
  --fourth: var(--dark2);
  --bg: var(--darkbg);
}
.title{
  background-color: var(--third);
  text-align: center;
  color: var(--primary);
  font-family: 'Bebas Neue', sans-serif;
}
.main{
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
h1, h2, h3, h4, h5{
  text-align: center;
}
#changetheme, .btns, .all{
  text-decoration: none;
  padding: 1.5rem 4rem;
  align-items: center;
  display: flex;
  margin: 5rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color:var(--primary);
  height: 10vh ;
  color: var(--third);
  transition: 0.6s;
  box-shadow: 0px 0px 10px var(--third);
  font-family: 'Bebas Neue', sans-serif;
}
#changetheme{
  margin-top: 90px;
  margin-bottom: 90px;
  height: 10vh;
  width:20vw;
  text-align: center;
}
nav{
  margin-left: 16.5rem;
}
.btns, .all{
  text-decoration: none;
  padding: 1.5rem 4rem;
  align-items: center;
  display: inline;
  margin: 0.3rem;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color:var(--primary);
  height: 15vh ;
  color: var(--third);
  width: 10vw;
}
.all{
  transform: translate(0,-2%);
}
#changetheme:hover, .btns:hover, .all:hover{
  /* transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2); */
  background: var(--primary);
  background: linear-gradient(270deg, var(--primary, 0.681) 0%, var(--secondary, 0.873) 60%);
  color: #ffffff;
  transition: 0.6s;
}
.btn:active {
  scale: 0.92;
}
/*carddetails*/
.card{
  height: 50vh;
  width: 25vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 20px;
margin-bottom: 40px;
background-color: var(--primary);
opacity: 50%;
/* box-shadow: rgba(36, 36, 36, 0.01) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.01) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.01) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.card:hover{
  transform: translateY(-2px);
  transition: 0.6s;
  opacity:100%
}

img{
  width: 50%;
  margin-bottom: 0px;
}
.cardtitle{
  margin-top: 1rem;
  font-size: var(--h4);
  color: var(--third);
  font-family: 'Bebas Neue', sans-serif;
}
.misc{
  font-size: var(--h4);
  color: var(--third);
  margin: 5px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: var(--h4);
}
.rarity{
  font-size: var(--h4);
  color: var(--third);
  margin-bottom: -20px;
  font-family: 'Bebas Neue', sans-serif;
}
.container{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem auto;
  margin-top: 15rem;
  padding: 5px;
  flex-direction: row;
  background-size: cover;
  }

.fa-solid{
line-height: 3;
}
.pickaxeicon{
  width: 50%;
  transform: translate(0,20%);
  margin-bottom: 1.2rem;
}
.discoicon{
  width: 50%;
  transform: translate(0,20%);
  margin-bottom: 1.2rem;
}
.wrapicon{
  width: 50%;
  transform: translate(0,20%);
  margin-bottom: 1.5rem;
}
.glidericon{
  width: 50%;
  transform: translate(0%,20%);
  margin-bottom: 0.5rem;
}
.allicon{
  width: 50%;
  transform: translate(0%,20%);
  margin-bottom: 1.1rem;
}

.icon{
  color: var(--third);
}
.changeicon{
  width: 15%;
  margin-left: 150px;
}
@media screen and (max-width:1000px){
  .card{
    width:40%;
  }
}
@media screen and (max-width:813px){
    .card{
      width:100%;
    }
    
  }