html,
body,
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-size: 62.5%; 
}
:root{
  /*darkmode palette*/
  --dark3:#030408;
  --dark1:#d3b34f;
  --dark2:#8d7128;
  --dark4:#782205;
  /*lightmode palette*/
  --light1:#123960;
  --light2: #f1ed4f;
  --light3: #e0e6f2;
  --light4: #7e9b96;

  /* Intentions 
  can use primary-textColor: to define main text color of the theme*/
--primary: var(--ivory);
--secondary: var(--olive);

  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.light{
  --primary: var(--light4);
  --secondary: var(--light1);
  color:var(--light3);
}
.dark{
  --primary: var(--dark4);
  --secondary: var(--dark3);
  color: var(--dark1);
}
.title{
  background-color: var(--primary);
  text-align: center;
  margin-top: 5rem;
}
.main{
  background-color: var(--secondary);
}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
h1, h2, h3, h4, h5{
  text-align: center;
}
.form {
  font-size: 5vh;
  color: rgb(255, 255, 255);
  text-align: center;
}
#changetheme, #button{
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
  color: var(--secondary);
  background-color:var(--primary);
}
#changetheme:hover, #button:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
/*carddetails*/
.card{
  height: 38vh;
  width: 20vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom: 40px;
background-color: var(--primary)
}
.card:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
img{
  width: 35%;
  margin-bottom: 5px;
}
.title{
  margin-top: 1rem;
  font-size: var(--h4);
}
.misc{
  font-size: var(--h4);
}
.container{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem auto;
  padding: 5px;
  flex-direction: row;
  }
