html,
body,
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-size: 62.5%; 
}
:root{
  /*darkmode palette*/
  --dark3: #2f3136;
  --dark1:#1ccd4f;
  --dark2:#00c617;
  --dark4:#40444b;
  /*lightmode palette*/
  --light1:#e4e5f1;
  --light2: #fafafa;
  --light3: #484b6a;
  --light4: #e4e5f1;
  --light5: #d3b34f;

  /* Intentions 
  can use primary-textColor: to define main text color of the theme*/
--primary: var(--ivory);
--secondary: var(--olive);

  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.light{
  --primary: var(--light4);
  --secondary: var(--light2);
  --third:var(--light3);
  --fourth: var(--light5);
}
.dark{
  --primary: var(--dark4);
  --secondary: var(--dark3);
  --third: var(--dark1);
  --fourth: var(--dark3)
}
.title{
  background-color: var(--third);
  text-align: center;
  color: var(--fourth);
}
.main{
  background-color: var(--secondary);
}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
h1, h2, h3, h4, h5{
  text-align: center;
}
.form {
  font-size: 5vh;
  color: var(--third);
  text-align: center;
  margin-bottom: 5rem;
}
#btns{
  align-items: center;
}
#changetheme, .btns, .all{
  text-decoration: none;
  padding: 1.5rem 4rem;
  align-items: center;
  display: flex;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color:var(--primary);
  height: 10vh ;
  color: var(--third);
  transition: 0.6s;
  box-shadow: 0px 0px 10px var(--third);
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.btns, .all{
  text-decoration: none;
  padding: 1.5rem 4rem;
   align-items: center;
  display: inline;
  margin: 0.3rem;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color:var(--primary);
  height: 10vh ;
  color: var(--third);
}
#changetheme:hover, .btns:hover, .all:hover{
  /* transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2); */
  background: var(--primary);
  background: linear-gradient(270deg, var(--primary, 0.681) 0%, var(--third, 0.873) 60%);
  color: var(--fourth);
  transition: 0.6s;
}
.btn:active {
  scale: 0.92;
}
/*carddetails*/
.card{
  height: 50vh;
  width: 25vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 20px;
border-color: var(--fourth);
border-style:outset;
margin-bottom: 40px;
background-color: var(--primary)
}
.card:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
img{
  width: 35%;
  margin-bottom: 2px;
}
.cosmeticsheading{
color: var(--fourth);
margin: 2rem;
}
.cardtitle{
  margin-top: 1rem;
  font-size: var(--h4);
  color: var(--third);
}
.misc{
  font-size: var(--h4);
  color: var(--third);
  margin-bottom: 2px;
}
.rarity{
  font-size: var(--h4);
  color: var(--third);
  margin-bottom: 2px;
}
.container{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem auto;
  padding: 5px;
  flex-direction: row;
  }
  label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
  }
  .expandedCard{
    height: 100vh;
    width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border-color: var(--fourth);
  border-style:outset;
  margin-bottom: 40px;
  background-color: var(--primary)
  }
  /*drop down menu attempts*/
  /* select {
    font-size: 0.9rem;
    padding: 2px 5px;
  }
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;} */