/*carddetails*/
.card{
  height: 38vh;
  width: 20vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom: 40px;
background-color: var(--primary)
}
img{
  width: 35%;
  margin-bottom: 5px;
}
.misc{
  font-size: var(--h4);
}
